@font-face {
  font-family: "MaruBuri-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: MaruBuri-Regular, serif;
  color: #584433;
}

.layout {
  padding: 4rem 0;
}

.intro {
  padding: 4rem 0;
  width: 100%;
  min-height: 300px;
}

.intro > img {
  width: 100%;
}

.inviteMessage {
  text-align: center;
  color: #584433;
  padding: 4rem 32px 0;
  font-size: 14px;
}

.inviteMessage h2 {
  font-size: 1.25rem;
  margin-bottom: 64px;
  font-weight: 500;
  text-align: center;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-delay: 0s;
}

.inviteMessage > p {
  font-size: 0.875rem;
}

.inviteMessage > p > span:first-child {
  display: block;
  margin-bottom: 15px;
}

.inviteMessage > p > span:last-child {
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
}

.inviteMessage > p > span {
  line-height: 26px;
}

.linkBar {
  width: 1px;
  height: 64px;
  background-color: #584433;
  margin: 64px auto;
}

.personList {
  padding: 0 0 64px;
}

.personList p {
  text-align: center;
}

.personItem {
  text-align: center;
  line-height: 21px;
}
.personItem + .personItem {
  margin-top: 38px;
}

.itemTitle {
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 16px;
}

.itemBox {
  font-size: 16px;
}

.personList h2 {
  font-size: 16px;
  margin-bottom: 38px;
  text-align: center;
}

.personItem .itemBox + .itemBox {
  margin-top: 5px;
}

.dateInfo {
  padding: 4rem 0;
  background-color: #fcfcfa;
  text-align: center;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
}

.dateDate {
  font-size: 1rem;
  line-height: 1.5rem;
}

.dateDday {
  font-size: 0.75rem;
  line-height: 1rem;
}

.placeInfo {
  border-bottom: 1px solid #f6f6f6;
}

.placeInfo h2,
.dateInfo h2 {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.bottomBar {
  width: 1.25em;
  height: 1px;
  margin: 0.25em auto 2rem;
  background-color: #584433;
}

.placeDetailButton {
  padding: 1.25em 0;
  font-size: 0.75em;
  line-height: 1em;
  cursor: pointer;
  background-color: #f4f0ea;
  text-align: center;
}

.address {
  text-align: center;
  background-color: #fcfcfa;
  border-bottom: 1px solid #f6f6f6;
}

.address p {
  margin: 0;
}

.addressDetail {
  padding: 3.5rem 24px 0;
}

.addressText {
  padding: 1.25em 0;
  text-align: center;
}

.addressDetailText {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.125rem;
}

.addressDetailTextSpot {
  white-space: pre-wrap;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.directions {
  text-align: left;
  padding: 0 0 56px;
  font-size: 14px;
}

.middleBar {
  width: 40px;
  height: 1px;
  background-color: #584433;
  margin: 64px auto;
}

.busContent {
  display: flex;
  flex-direction: column;
  line-height: 21px;
  font-size: 0.875rem;
}

.busContent span + span {
  margin-top: 4px;
}

.bus div + div,
.parking div + div {
  padding-top: 0.75rem;
}

.busTitle,
.parkingTitle {
  font-weight: 700;
  font-size: 16px;
}

.parking {
  margin-top: 36px;
}

.announce {
  border: 5px double #f4f0ea;
  border-radius: 2px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 2.5em 1em;
  font-size: 16px;
}

.announce h2 {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.announce div {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

footer {
  padding: 32px 0 32px;
  background-color: #fcfcfa;
  color: #584433;
  border-top: 1px solid #f6f6f6;
}

footer img {
  color: #584433;
}

footer div {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer button {
  padding: 0;
  border: none;
  background: inherit;
  font-family: "MaruBuri-Regular";
  color: #584433;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer button + button {
  margin-left: 40px;
}

footer img {
  margin-bottom: 8px;
  cursor: pointer;
}

.kakaoLogo {
  width: 18px;
  height: 18px;
  padding-top: 5px;
}
